ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  background-color: #006491;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  margin-bottom: 50px;
}

nav h1 {
  margin: 0;
}

nav h1 img {
  width: 40px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: background-color 700ms;
  cursor: pointer;
}

nav ul li:hover,
nav ul li:active {
  background-color: #005177;
}

nav ul li a {
  text-decoration: none; 
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

#highlights {
  max-width: 980px;
  margin: 0 auto;
}

#highlights li {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}


